<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8"/>
    <title>{% block title %}Übersicht::Admin{% endblock %}</title>

    <link href="{{ asset('node_modules/bootstrap/dist/css/bootstrap.min.css') }}" media="screen, projection, print" rel="stylesheet" type="text/css" />

    <!-- Custom styles for this template -->
    {% block stylesheets %}{% endblock %}


</head>
<body style="background: white !important;">
{% block body %}{% endblock %}


<!-- end of inner-wrap -->
{% block javascripts %}{% endblock %}

</body>
</html>
